*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(18, 18, 18))
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 10px;
    padding: 40px 0;
    background-color: #FFFFFF10;
    color: white;
}

.textos{
    padding: 15px;
}

.underline{
    text-decoration: underline #ffa200;
    text-underline-position: auto;
    text-underline-offset: 10px;
}

.textos:hover{
    color: #ffa200;
    cursor: pointer;
    transition: 0.5s;
}

.textofale{
    display: block;
    padding: 50px;
    color: white;
    font-weight: 100;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    background: #FFFFFF10;
    border-bottom: 2px solid #ffa200;
}

.textbox{
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    width: 800px;
    text-align: center;
    background-color: #FFFFFF20;
    color: white;
}

.textbox p{
    font-weight: 100;
    font-size: 15px;
}

a{
    text-decoration: none;
    color:white;
}

#nome{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    padding: 10px 0px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffa200;
    color: white;
    text-align: left;
}

#email{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    padding: 10px 0px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffa200;
    color: white;
    text-align: left;
}

#submit{
    font-weight: bold;
    background: #ffa200;
    outline: none;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}

#submit:hover{
    background: #c27b00;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#textarea{
    margin-top: 20px;
    width: 80%;
    outline: none;
    border: none;
    padding: 10px;
    resize: none;
}